<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <title>Home Page</title>
</head>

<body>
  <%- include('./partials/_navbar.ejs') %>
  <% if (user) { %>
  <h1 class="is-size-1 has-text-centered mt-5">Welcome to the app, <%= user.username %>!</h1>
  <figure class="image is-16by9 mt-5 is-clipped">
    <img src="/images/landing.jpg" alt="home image">
  </figure>
  <% } else { %>
  <h1 class="is-size-1 has-text-centered mt-5">Welcome to the app, guest.</h1>
  <% } %>
</body>

</html>