<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <title> 404 </title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="is-flex is-justify-content-center">
    <div class="is-flex is-flex-direction-column is-align-items-center">
      <h1 class="is-size-1" >Not Found</h1>
      <figure>
        <img src="/images/404-error.jpg" alt="404 image...">
      </figure>
    </div>
  </div>
</body>

</html>