.vertical-image-flights {
    min-width: 30%;
    max-width: 30%;
}

.clickable:hover {
    background-color: rgb(225, 223, 223);
    transition: 0.2s;
}

.flight-card {
    width: 600px;
}

.flight-details {
    height: 150px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000;
    margin: 1em 0;
    padding: 0;
}

@media (max-width:1000px) {
    .flight-card {
        width: 250px;
    }
}