<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <script defer src="/javascripts/getAirportData.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
  <title>Add Flight</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1 class="title is-1 mt-5 mb-5 has-text-centered">Add New Flight</h1>
  <form class="container" action="/flights" method="POST" autocomplete="off">
    <div class="box">
    <div class="fixed-grid has-7-cols">
      <div class="grid">
        <div class="cell is-col-span-3">
          <label for="departure">Departure</label>
          <input class="input" type="text" name="departure" id="departure" list="airportsData" required>
        </div>
        <p class="has-text-centered pt-5 is-unselectable">——————</p>
        <div class="cell is-col-span-3">
          <label for="destination">Destination</label>
          <input class="input" type="text" name="destination" id="destination" list="airportsData" required>
        </div>
        <div class="cell is-col-span-2">
          <label for="capacity">Capacity</label>
          <input class="input" type="number" name="capacity" id="capacity" required>
        </div>
        <div class="cell is-col-span-2">
          <label for="price">Price</label>
          <input class="input" type="number" name="price" id="price" required>
        </div>
        <div class="cell is-col-span-3">
          <label for="date">Date</label>
          <input class="input" type="datetime-local" name="date" id="date" required>
        </div>
      </div>
    </div>
    <button class="button is-primary" type="submit">Add Flight</button>
  </form>
</div>
  <datalist id="airportsData">
  </datalist>
</body>

</html>